@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "PT Serif", serif;
}

.homepage {
  min-height: 100vh;
  background-image: url("https://s.tmimgcdn.com/scr/1200x750/124800/paysage-de-coucher-de-soleil-sur-la-riviere-illustration_124817-original.jpg"); /* Set your background image */
  background-size: 100% 100%; /* Make the image cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%; /* Set the width to full */

  display: flex;
}
